doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Arvo')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=PT+Sans')
        title  draw.io
    body.background-css()
        h1 An error has occured!