extends gameHeader
block content
    body()
        title  draw.io
        #maincontainer
            #container1
                div#toolDiv
                    #colorWheelDemo.wheel
                    .slidercontainer
                        input#strokeSizeSlider.slider(type='range', min='1', max='100', value='1')
                        button#buttonClearCanvas(class="btn btn-primary btn-rounded normalbtn" onClick="clear()")  Clear
            #container2free
                div.DrawingPhaseDiv
                    #canvasParent

            #container3
                div#gameLinkContainer
                    label Click to copy your game ID
                        p#gameIDCopy(type="text" onclick="copyToClipboard('#gameIDCopy')") #{gameID}
        script( type='application/javascript', src='/javascripts/freeSketchController.js')
    script(type='application/javascript', src='/jquery/jquery.slim.min.js')
    script(type='application/javascript', src='/popper.js/popper.min.js')
    script(type='application/javascript', src='/bootstrap/js/bootstrap.min.js')
