doctype html
head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Arvo')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=PT+Sans')
    style.
        * {
        }
    script.
      gameID = '#{gameID}';
      type = '#{type}';
      mode = '#{mode}';
      username = '#{username}';
      playerList = '#{playerList}';
      host = '#{host}';
      timer = null;
    script( type='application/javascript', src='/io/socket.io.js')
    script( type='application/javascript', src='/p5/p5.min.js')
    script( type='application/javascript', src='/javascripts/' + mode + 'GameController.js')
    script( type='application/javascript', src='/p5/addons/p5.dom.js')
    script( type='application/javascript', src='/p5/addons/p5.dom.min.js')
    script( type='application/javascript', src='/iro/iro.min.js')
    block content

