doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Arvo')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=PT+Sans')
        script( type='application/javascript' src='/javascripts/formHandler.js')
        title  draw.io
    body(onload="prepare()")
        #maincontainerIndex
            form( method='get', action="/game/", name='typeForm' onsubmit='cleanUpEmptyElements(this);')
                div(id= 'typeSelector' class="formDiv2")
                    h1  Draw.io
                    div.formDiv
                        div.inputDiv
                            label.normalLabel Username:
                                input(name='username', value='')
                            label.normalLabel Game ID:
                                input(name='gameID', value='')
                        div.inputDiv
                            button(type='submit', name='connectType', value='joinGame').normalbtn  Join Game
                            button(type='button' onclick='chooseType(true)').normalbtn  New Game

                div(id= 'modeSelector' class="formDiv2")
                    h1  Choose your Gamemode
                    button.returnbtn(type='button', onclick='chooseType(false)') <=
                    div.formDiv(style="margin-top:2%")
                        button(type='submit', name='gameMode', value='normal').normalbtn  Normal
                        button(type='submit', name='gameMode', value='free').normalbtn  Free

        script( type='application/javascript' src='/jquery/jquery.slim.min.js')
        script( type='application/javascript' src='/popper.js/popper.min.js')
        script( type='application/javascript' src='/bootstrap/js/bootstrap.min.js')
