extends gameHeader
block content
    body(onload="setupGameFlow(gameID, username, mode, playerList, host)")
        title  draw.io
        #maincontainer
            #container1
                div.DrawingPhaseDiv(style="flex-direction:column;")
                    h1 Tools
                    #colorWheelDemo.wheel
                    .slidercontainer
                        input#strokeSizeSlider.slider(type='range', min='1', max='100', value='1')
                    button#buttonClearCanvas(class="btn btn-primary btn-rounded normalbtn" onClick="clear()")  Clear
            #container2
                #WordAndTimerDiv
                    div#dummyDiv
                    h1#WordDiv Testus
                    div#clockContainer
                #WaitingForPlayerDiv
                    button(class="btn btn-success btn-rounded startbtn" onclick='initiateGame()')  Start
                #SelectWordPhaseDiv
                    div.btn-group.btn-group-toggle(data-toggle="buttons")
                        label.btn.btn-success.startbtn
                            span#word0 test
                            input(type="radio" id="0" name="selectWord" checked="checked")
                        label.btn.btn-success.startbtn
                            span#word1 test1
                            input(type="radio" id="1" name="selectWord")
                        label.btn.btn-success.startbtn
                            span#word2 test2
                            input(type="radio" id="2" name="selectWord")
                div.DrawingPhaseDiv(style="justify-content:center;")
                                    #canvasParent
                #SelectWinnerPhaseDiv
                #WinnerPhaseDiv
                    button.btn.btn-success.startbtn(onclick='window.location.assign(host)')  Leave Game
                    button.btn.btn-success.startbtn(onclick='continueGame()')  Continue
            #container3
                div#playerListContainer
                    h2 Player List
                    ul#playerList
                div
                    h2 Game Link
                    div#gameLinkContainer(onclick="copyToClipboard('#gameIDCopy')")
                        label Click to copy
                            p#gameIDCopy(type="text") #{gameID}
        script( type='application/javascript', src='/javascripts/normalSketchController.js')
        script(type='application/javascript', src='/javascripts/timerController.js')
        script(type='application/javascript', src='/jquery/jquery.slim.min.js')
        script(type='application/javascript', src='/popper.js/popper.min.js')
        script(type='application/javascript', src='/bootstrap/js/bootstrap.min.js')