body {
    padding: 25px;
    min-height:600px;
    min-width:600px;
    background: #5046FF;
    font-family: 'Arvo', Georgia, Times, serif;
}

h1 {
    min-width: max-content;
    color: #000000;
    font-family: 'Arvo', Georgia, Times, serif;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}
h2 {
    color: #000000;
    font-family: 'Arvo', Georgia, Times, serif;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}
p {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    color: black;
}

a {
    color: #000000;
}
#maincontainer {
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    flex-direction: row;
    min-height:300px;
    max-height:90vh;
    height:90vh;
    min-width: 100%;
}
#maincontainerIndex {
    border-radius: 20px;
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    margin:auto;
    align-self:center;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    min-height:350px;
    max-height:60vh;
    height:60vh;
    min-width: 65vw;
    width:65vw;
    background:#eeeeee;
}
#gameIDCopy{
    text-align:center;
    color:#105B00;
}

.inputDiv {
    display:flex;
    justify-content: space-evenly;
    min-width:400px;
    align-self:center;
}

.formDiv {
    margin-top:10%;
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center
}
.formDiv2{
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: column; /* Safari 6.1+ */
    display: flex;
    flex-direction: column;
}
.column{
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: column; /* Safari 6.1+ */
    display: flex;
    flex-direction: column;
}
.row{
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    flex-direction: row;
}
.startbtn{
    min-height:50px;
    min-width:200px;
    font-size:40px;
    background:#449d44;
    border-color: #398439;
}
#colorWheelDemo{
    display:flex;
    align-content: center;
    justify-content: center;
}
.normalbtn{
    min-height:30px;
    min-width:150px;
    font-size:25px;
    margin-top:10%;
    color: #ffffff;
    background:#449d44;
    border-color: #398439;
}
.returnbtn{
    display:block;
    min-height:50px;
    min-width:50px;
    font-size:25px;
    margin-top:6%;
    border-radius: 50%;
    color: #ffffff;
    background:#449d44;
    border-color: #398439;
}
.normalLabel{
    width:200px;
    text-align: center;
}
.button {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    cursor: pointer;
    padding: 0 20px 0 73px;
    border: none;
    min-width: 100px;
    min-height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    font: normal 20px/2.4 "Open Sans", Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.9);
    text-transform: capitalize;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 1) 0, rgba(255, 255, 255, 1) 100%);
    background: -moz-linear-gradient(135deg, rgba(0, 0, 0, 1) 0, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(135deg, rgba(0, 0, 0, 1) 0, rgba(255, 255, 255, 1) 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-box-shadow: 0 5px 0 0 rgba(130, 130, 130, 1);
    box-shadow: 0 5px 0 0 rgba(130, 130, 130, 1);
    text-shadow: 0 1px 1px rgba(45, 45, 45, 0.36);
    -webkit-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: top 50ms cubic-bezier(0.42, 0, 0.58, 1);
}

.button:hover {
    background: -webkit-linear-gradient(-145deg, rgba(252, 252, 252, 1) 0, rgba(0, 0, 0, 1) 100%);
    background: -moz-linear-gradient(235deg, rgba(252, 252, 252, 1) 0, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(235deg, rgba(252, 252, 252, 1) 0, rgba(0, 0, 0, 1) 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.button:active {
    top: 2px;
    background: -webkit-linear-gradient(-90deg, rgba(145, 145, 145, 1) 0, rgba(219, 219, 219, 1) 100%);
    background: -moz-linear-gradient(180deg, rgba(145, 145, 145, 1) 0, rgba(219, 219, 219, 1) 100%);
    background: linear-gradient(180deg, rgba(145, 145, 145, 1) 0, rgba(219, 219, 219, 1) 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-box-shadow: 0 3px 0 0 rgba(130, 130, 130, 1);
    box-shadow: 0 3px 0 0 rgba(130, 130, 130, 1);
    -webkit-transform-origin: 50% 100% 0;
    transform-origin: 50% 100% 0;
}
#WordAndTimerDiv{
    display:flex;
    min-width:100%;
    justify-self:flex-start;
    justify-content: space-between;
    margin-bottom:auto;
}
#WordDiv{
    max-width:70%;
    min-width:70%;
    display:none
}
#gameLinkContainer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align: center;
    background:#BAFFAA;
    border-radius:10px;
    border: 1px solid #90EA7C;
    color:#105B00;
    font-size:16px;
    margin-right:2%;
    margin-left:2%;
    word-wrap:break-word;
    max-width:90%;
    margin-top:10%;
}
#gameLinkContainer:active {
    background:#73bb63;
}
#WaitingForPlayerDiv{
    display:flex;
    justify-content: center;
    margin-bottom: auto;
}
#container1{
    border-radius: 20px;
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-content:center;
    flex-wrap:wrap;
    width:17%;
    min-height:100%;
    background:#eeeeee;
    margin:1%;
    min-width:170px;
}
#toolDiv{
    margin-top: 10%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-items:center;
}
#container2{
    border-radius: 20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content:center;
    flex-wrap:wrap;
    min-width:60%;
    height:100%;
    min-height:525px;
    background:#eeeeee;
    margin:1%;
}
#container2free{
    border-radius: 20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content:center;
    flex-wrap:wrap;
    min-width:60%;
    min-height:100%;
    margin:1%;
}
#container3{
    border-radius: 20px;
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-content:center;
    flex-wrap:wrap;
    width:17%;
    height:100%;
    min-height:350px;
    background:#eeeeee;
    margin:1%;
    min-width:210px;
}
#playerListContainer{
    min-height:150px;
}
#canvasParent{
    display:flex;
    align-content: center;
    justify-content: center;
}
#SelectWordPhaseDiv {
    display: none;
    align-content: center;
    justify-content: center;
    margin-bottom: auto;
}
#dummyDiv{
    display: none;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
}
#SelectWinnerPhaseDiv {
    display: none;
    justify-content: space-evenly;
    margin-bottom: auto;
}

#WinnerPhaseDiv {
    display: none;
    align-content: center;
    justify-content: center;
    margin-bottom: auto;
}

.selected {
    background-color: yellow;
}

.DrawingPhaseDiv {
    display: flex;
    margin-bottom: auto;
    align-content:center;
    flex-direction:column;
    justify-content:center;
}

#clockContainer {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    display: none;
    background: url('/images/clock.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.background-css {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    z-index: 0;
    font: normal 100%/normal "OpenSans", Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0) 79px, rgb(145, 148, 148) 79px, rgb(145, 148, 148) 81px, rgba(0, 0, 0, 0) 81px), -webkit-linear-gradient(90deg, rgb(238, 238, 238) 0.1em, rgba(0, 0, 0, 0) 0.1em), rgb(255, 255, 255);
    background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0) 79px, rgb(145, 148, 148) 79px, rgb(145, 148, 148) 81px, rgba(0, 0, 0, 0) 81px), -moz-linear-gradient(0deg, rgb(238, 238, 238) 0.1em, rgba(0, 0, 0, 0) 0.1em), rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 79px, rgb(145, 148, 148) 79px, rgb(145, 148, 148) 81px, rgba(0, 0, 0, 0) 81px), linear-gradient(0deg, rgb(238, 238, 238) 0.1em, rgba(0, 0, 0, 0) 0.1em), rgb(255, 255, 255);
    background-position: center;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: 100% 1.2em;
    background-size: 100% 1.2em;
}

.mainCanvas {
    border: 2px solid #000000;
    background: #FFFFFF;
    justify-self:center;
}
.canvas{
    border: 2px solid #000000;
    background: #FFFFFF;
    max-width:30%;
}
.slidercontainer {
    width: 60%; /* Width of the outside container */
    margin-top: 10px;
    margin-bottom: 10px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #3c3c3c;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #3c3c3c;
    cursor: pointer;
}

